.back-to-top {
    position: fixed;
    bottom: 37px;
    left: 50%;

    visibility: hidden;

    margin-left: 580px;

    transition: 0.4s ease;

    opacity: 0;
    background-color: #f8f8fd;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
    a {
        display: block;

        width: 38px;
        height: 38px;

        text-align: center;

        color: #b4b4b4;
        background-color: #eee;

        font-size: 20px;
        line-height: 38px;
    }
}
.back-to-top-show{
    visibility: visible;

    opacity: 0.7;
    &:hover{
        opacity: 1
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .back-to-top {
        left: 50%;

        margin-left: 45.5%;
    }
}
@media screen and (max-width: 770px) {
    .back-to-top {
        right:2.5%;
        left: auto;
        // left: 50%;

        margin-left: 0px;
        a {
            width: 33px;
            height: 33px;

            text-align: center;

            font-size: 18px;
            line-height: 33px;
        }
    }
}
