#markdown-toc {
    display: none;
}
.page[post] {
    .label {
        overflow: hidden;

        margin-top: 16px;
        .label-card {
            float: left;

            margin-right: 15px;
            .point {
                padding: 0 10px;

                color: #9d9d9d;
            }
            i {
                padding-right: 5px;

                color: #6b6a6a;
            }
        }
    }
    a {
        transition: 0.5s ease;

        color: #4d6dad;
        &:hover {
            color: #223253;
            background-color: #f4efeb;
        }
    }
    .left {
        h1 {
          font-weight: 700;
        }
        ul {
            >h2 {
                color: #333;
            }
            li {
                margin: 0;

                color: #333;
            }
        }
        a.footnote:before {
         content: "[";
        }

        a.footnote:after {
            content: "]";
        }
        .minor-adjust {
              top: 0.242em;
              left: -1.6em;
        }
        .relatedPost {
          margin-left: 1.85em;
        }
        .alert-exercise-heading {
          color: #155724;
          border-color: #c3e6cb;
          background-color: #d4edda47;
        }
        .alert-question {
          color: #795b04;
          border-color: #ffeeba;
          background-color: #fff3cd47;
        }
        .btn-vertical-adjust {
          margin-bottom: 0.64rem;

          text-align: left;

          border-radius: 0.25rem;
        }
        .note {
          color: #5a5b6c;

          font-size: 10px;
          font-style: italic;
        }
        .footnotes {
          margin-left: -2em;

          color: #5a5b6c;

          font-size: 10px;
          font-style: italic;
        }
        .img-large {
          width: 74%;
        }
        .img-mid {
          width: 47%;
        }
        // .post-recent {
        //     width: 100%;
        //     overflow: hidden;
        //     padding: 4px;
        //     .pre{
        //         width: 49%;
        //         float: left;
        //     }
        //     .nex{
        //         width: 49%;
        //         float: right;
        //         text-align: right;
        //     }
        //     p {
        //         min-height: 70px;
        //         box-sizing: border-box;
        //         padding: 10px;
        //         background-color: #fff;
        //         box-shadow: 0 0 4px 0px rgba(0,0,0,0.15);
        //     }
        // }
    }
}
@media screen and (max-width: 770px) {
    .page[post] {
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6 {
                font-size: 15px;
            }
        }
    }
}
