---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div class="ship-card">
                    <i class="fa fa-ship"></i>Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <div class="side content">
                <div class="ship-card">
                    <i class="fa fa-github"></i>Badge
                </div>
                <iframe src="https://githubbadge.appspot.com/zengyu714?s=1"
                  style="margin: 16px 0px 9px 0px;height: 155px;width: 100%;overflow: hidden; background-color: transparent;"
                frameBorder="0"></iframe>
            </div>
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js" | prepend: site.baseurl }}" charset="utf-8"></script>
